<header>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH18G8psedc1HzEzv_wzEkL1bx8mKtRh_uoS-PlVqjIXHEfR5K&s" alt="">
</header>


<div class="container">
	<div class="row">
		<div class="col-lg-4 texto-centrado">
			<h3>Login</h3>
			<p>Entra aquí para poder iniciar sesión en esta página.</p>
			<a [routerLink]="'/login'">Iniciar sesión</a>
		</div>
		<div class="col-lg-4 texto-centrado">
			<h3>Registro</h3>
			<p>Entra aquí para poder registrarte con nosotros y ver todo el contenido.</p>
			<a [routerLink]="'/registro'">Registrarse</a>
		</div>
		<div class="col-lg-4 texto-centrado">
			<h3>Perfil</h3>
			<p>Entra aquí para ver toda la información de tu perfil de usuario.</p>
			<a [routerLink]="'/perfil'">Ver tu perfil</a>
		</div>
	</div>
</div>